@use "../../src/Style/config" as c;
@use "../../src/Style/theme" as t;

.login-page,
.signup-page {
  min-height: 100vh;
  background-color: t.$light-bg-200;
}

.form-container {
  @include c.flex-center;
  height: 100vh;
  background-color: t.$light-bg-100;
  border: 1px solid t.$light-color-200;
  padding: 0 c.$space-4;
  width: 40vw;
  min-width: 450px;

  .form-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: c.$space-2;
    width: clamp(400px, 40vw, 750px);
    max-width: 750px;

    .upper-content {
      display: flex;
      flex-direction: column;
      gap: c.$space-1;
    }
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: c.$space-1;
}

.error-message{
  color: red;
  font-size: c.$fontsize-2;
}

.auth-switch {
  font-size: c.$fontsize-2;
  color: t.$dark-color-200;

  .switch-link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }
}

@media screen and (max-width: 750px) {
    .form-container{
        width: 100%;
    }
}